body {
  background-color: #E4E9FD;
  /*background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);*/
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  padding: 10px;
}

h5 {
  margin-bottom: 0;
}

/* Navbar */
.navbar-container{
  padding: 1% 15%;
}

.navbar-btn {
  margin: 0 0.5%;
}

/* End Navbar */

/* Title section */
#title{
  color: black;
}  

/* End Title section */

/* List page */
.listTitle {
  color: #fff;
}
/* End List page */

.container-fluid{
  padding: 10% 15%;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #3498db;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #3498db;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {/*form con classe item*/
  text-align: center;
  margin-left: 20px;
}

.circle-btn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3498db;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.listName:hover {
  cursor: pointer;
  text-decoration: underline;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #3498db;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
